
body{
    background-color: var(--negro);
}
:root{
 --blanco: white;
 --negro: black;
}
.header--image-biologia{ 
    width: 70vb;
    border-radius: 10%;
}
header{
    justify-content: center;
    display: flex;
    align-items: center;
    margin:4em;
}
.header-tiitle-container{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 5em;
    align-items: center;


}
.header--image{
    margin-left: 2em;
    transform: translateX(-50px);
    animation: MoverseDerecha 1s ease-in-out forwards ;
    opacity: 0;
}
@keyframes MoverseDerecha{
    fromt{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform:  translateX(10px);
    }
}
.constiner-move-parr{
    animation: MoverseIzquierda 1s ease-in-out forwards;
    transform: translateX(50px);
    opacity: 0;

}

@keyframes MoverseIzquierda{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(10px);
    }
}


.parr-header{
    color: var(--blanco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 100%;
}

.biologia-profesor-eduador{
    width: 100%;
    height: 30rem;
}
.parrdebajo_header{
    color: var(--blanco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}
.container-lista, p{
color: var(--blanco);
text-align: center;
list-style-type: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1rem;
margin: 2em;
}
.footter_biologia {
    background-color: rgb(113, 113, 117);
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box; /* Asegura que padding no afecte el tamaño */
    overflow: hidden; /* Evita desbordes internos */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}
