*,*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--negro);

}

:root{

   --negro: black;
   --blanco:white;
}
.header--image-container {
    justify-content: center;
    display: flex;
    gap: 2em;
    margin: 5rem;
}

.header--image{
    width: 90vh;
    border-radius: 10%;
}

.parr_h3{
    color: var(--blanco);
    width: 30rem;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 2rem;
 margin-top: 1em;

 transform: translateX(50px); /* Se mueve 50px hacia la derecha */
 animation: slideLeft 1s ease-out forwards;
 opacity: 0;

}

@keyframes slideLeft {
 from {
     opacity: 0;
     transform: translateX(50px); /* Inicia desde la derecha */
 }
 to {
     opacity: 1;
     transform: translateX(0); /* Llega a su posición original */
 }
}


.header--image {
    transform: translateX(-50px); /* Comienza 50px a la izquierda */
    opacity: 0;
    animation: slideLeftToRight 1s ease-in-out forwards;
}

@keyframes slideLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-50px); /* Inicia desplazado a la izquierda */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Llega a su posición original */
    }
}

.header-tiitle-img{
    justify-content: center;
    align-items: center;
    display: flex;
}
.flechita{
margin-left: 40rem;
cursor: pointer; 
animation: latido 1.5s infinite;

}
  
  @keyframes latido {
    0% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.6); /* Se agranda un poco */
    }
    100% {
      transform: scale(1); /* Vuelve al tamaño normal */
    }
  }





.section_ul{
    color: var(--blanco);
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;

}

.h2_parr-section{
    text-decoration: none;
    list-style-image: none;
    color: var(--blanco);
    width: 90%;
    text-align: center;
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagensection_fi_qui{
    width: 100%;
    height: 60vh;
    margin-top: 4em;
    z-index: -1;
    display: flex;
}
.footter_fisica{
    background-color: rgb(113, 113, 117);
    width: 100%;
    text-align: center;
    
}