@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*,
*::after,
 *::before{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
 
@media ( min-width:360px){
.navbar {
    background-color: var(--plom);
    padding: 1rem;
  

  }
  nav{
    margin: 10px;
  }
  .menu li a  {
    color: white;
    list-style-type: none;
    text-decoration-line: none;
    font-weight: 900;
    transition: background-color 0.5s ease;
    opacity: 1;
    animation: bajar 2s ease-in-out forwards;
  }
 @keyframes bajar {
   from{
    opacity: 0
   }  to{
    opacity: 1;
    
   }
 }

  .menu li a:hover{
    background-color: var(--bla);
    border-radius: 5px;
    color: var(--negr);
    text-shadow: 1px 1px 1px rgb(11, 11, 11);

    
  }
  .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos de la barra de navegación se ajusten en pantallas más pequeñas */
    margin-bottom: 3rem;
  }
:root{
    --negr:black;
    --plom:#808080;
    --bla:white;
}
body{
background-color: var(--negr);
}

.header-tiitle{
    z-index: 2;
    display: flex;

}
.container-tittles{
  z-index: 2;
  position: relative;



}

.header--image-container{
    width: 100% ;
    height:auto;
}


.headerimage{
  width: 100%;
  height: auto;
  border-radius: 10px;
  animation: Aparecer 2s ease-in forwards ;
  opacity: 1;
  z-index: -1;
  display: flex;
  filter: opacity(0.5);

}
@keyframes Aparecer {
   from{
    opacity: 0;
   }to{
    opacity: 1;
   }
}


.parr{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    text-align:center;
    opacity: 0;
    animation: aparecer 2s ease-in forwards;
    animation-delay: 2ms;
    margin-bottom: 2rem;
}


@keyframes  aparecer {
   from{
    opacity: 0;
   } to{
    opacity: 1;
   }
}


.header-tittle-h2{
    font-family: "Anton", sans-serif;
    font-size: 3em;
    margin-bottom: 12px;
    opacity: 1;
    animation: aparecertitle 2s ease-in-out forwards;
    z-index: 2;
    justify-content: center;
    position: relative;
    margin-top: -13rem;
    display: flex;    

}
@keyframes aparecertitle {
  from{
    opacity: 0;
  }to{
    opacity: 1;
    
  }
  
}


.header-tittle-h2, p{
    color: var(--bla);
    text-align: center;
    text-shadow: 4px 1px 1px var(--negr);

}
.section_container1{
  background-color: rgba(48, 54, 55, 0.437);
  border-radius: 10px;
  animation: aparcersection 2s ease-in;
  width: 100%;

}
@keyframes aparcersection {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.container_imagenes_sub{

justify-content: center;
align-items: center;
display: inline-block;
flex-direction: column;
}
.span-h2{
  background-color: var(--bla);
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 10px auto;
}
}


.imagensection1{
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;

}
.imgagensection2{
  width: 100%;
  border-radius: 10px;
 

}
 .imagensection1 .imgagensection2 .span-h2{
 animation: aparecerimagen 2s ease-in forwards;
 opacity: 1;
 flex-direction: column;
 
 }
 @keyframes aparecerimagen {
   from{
    opacity: 0;
   }to{
    opacity: 1;
   }
 }
