@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.tittle-header{
     font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.parr-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px ;
}

